# gitignore setting
.hg
.hgignore
*~
.semantic.cache
.DS_Store
TAGS
vim/bundle
vim/bundle/*
vim/autoload/plug.vim
vim/plugged
vim/plugged/*
vim/yankring_history_v2.txt
vim/.netrwhist
vimperator/info
vimperator/vimperator-plugins
vimperator/vimperator-plugins/*
hg-ex/info.pyc
hg-ex/info.py
.gitconfig
