snippet ife
	if err != nil {
		fmt.Printf("[ERR] %s", err)
	}

snippet if
	if ${1} {
		${2}
	}

snippet fp
	fmt.Println(${1})

snippet fpf
	fmt.Printf("${1}", ${2})

snippet be
	func Benchmark${1}(b *testing.B) {
		${2}
	}

snippet te
	func Test${1}(t *testing.T) {
		${2}
	}
